.hero {
  position: relative;
  background-image: URL(../img/Bouldercolorado.jpg);
  background-size: cover;
  background-position: center center;
  height: calc( 100vh - 50px );
  margin-top: 50px;
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
}
.hero header {
  color: #fff;
}
.full-screen {
  min-height: calc( 100vh - 50px );
}
.full-screen header {
  margin-top: 50px;
  padding-top: 2em;
  margin-bottom: 3em;
}
.full-screen p {
  font-size: 18px;
  line-height: 24px;
}
.footer.navbar {
  min-height: 0;
  padding: 10px;
}
